*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest.toml
/docs/Manifest.toml
/docs/build/

# LaTeX aux files
**.aux
**.bbl
**.blg
**.fdb_latexmk
**.fls
**.log
**.out
**.synctex.gz

/.quarto/
/.vscode/
**.DS_Store

/.luarc.json
